@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); 
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); 
  } 
}

.fadeInDown {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; 
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.product-options__value.product-options__value--circle {
  height: 20px;
  width: 20px;
  display: block;
  border-radius: 50%;
  margin: 2px;
  padding: 0;
}
.col-swatch-group {
  bottom: auto;
  top: 1rem;
  left: auto;
  right: 1rem;
  position:absolute;
}
.col-swatch-group label {font-size: 10px;}
.card__inner .product-options__section {display: none;}
.card__inner:hover .product-options__section {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.product-options__section a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 50%;
}
.product-options__section a:hover {border-color: #000000;}
.mobile-facets__wrapper .mobile-facets__inner {
  margin-left: 0;
  margin-right: auto;
}
.js #main-collection-filters .disclosure-has-popup:not(.menu-opening) .mobile-facets__inner {
  transform: translateX(-105vw);
}
.mobile-facets__wrapper .mobile-facets__close {
  left: 1rem;
  right: auto;
}



.product__info-wrapper .product__info-container {
  margin: 20vh auto 0;
  max-width: 420px;
  padding: 30px;
  text-align: center;
}
.product__info-wrapper .product__info-container .price {justify-content: center;}
.product__info-wrapper .product__info-container .quantity {
  margin-left: auto;
  margin-right: auto;
}
.product__info-wrapper .product-options__section {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
.product__info-wrapper .product-options__section a {
  font-size: 0;
  height: 100%;
  width: 100%;
}