@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); 
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); 
  } 
}

.fadeInDown {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; 
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.product-options__value.product-options__value--circle {
  height: 20px;
  width: 20px;
  display: block;
  border-radius: 50%;
  margin: 2px;
  padding: 0;
}
.col-swatch-group {
  bottom: auto;
  top: 1rem;
  left: auto;
  right: 1rem;
  position:absolute;
}
.col-swatch-group label {font-size: 10px;}
.card__inner .product-options__section {display: none;}
.card__inner:hover .product-options__section {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.product-options__section a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 50%;
}
.product-options__section a:hover {border-color: #000000;}
.collection-filters .collection-product-count {text-align: left;}
.mobile-facets__wrapper {justify-content: flex-end;}
.mobile-facets__wrapper .mobile-facets__inner {
  margin-left: 0;
  margin-right: auto;
}
.js #main-collection-filters .disclosure-has-popup:not(.menu-opening) .mobile-facets__inner {
  transform: translateX(-105vw);
}
.mobile-facets__wrapper .mobile-facets__close {
  left: 1rem;
  right: auto;
}


slider-component.slider-mobile-gutter {margin: -1px 0 0 -1px;}
.product__info-wrapper .product__info-container {
  margin: 0 auto;
  max-width: 420px;
  padding: 30px;
  text-align: center;
}
.product__info-wrapper .product__info-container .price {justify-content: center;}
.product__info-wrapper .product__info-container .quantity {
  margin-left: auto;
  margin-right: auto;
}
.product__info-wrapper .product-options__section {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
.product__info-wrapper .product-options__section a {
  font-size: 0;
  height: 100%;
  width: 100%;
}
.tabhead {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
.tabhead .tabmenu {
  color: #000000;
  display: block;
  font-size: 12px;
  margin: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.tabhead .tabmenu.active {text-decoration: underline;}
.tabcontent {font-size: 14px;}

@media (min-width: 750px) {
  
  .product-tab,
  .product-options {
    height: auto;
    opacity: 1;
    overflow: hidden;
    opacity: 1;
    transition-property: height, opacity;
  }
  .product-tab {min-height: 80px;}
  .hide-product-tab .product-tab,
  .hide-product-tab .product-options {
    height: 0;
    opacity: 0;
    min-height: 0px;
  }
  .product__info-wrapper,
  .product__info-container>*+* {
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  
  .product__info-wrapper .product__info-container {margin-top: 20vh;}
  .product__info-wrapper.hide-product-tab .product__info-container {top: 20vh;}
}



.suatainability-result {padding: 30px 0 50px;}
.box-inner {
  border: solid 1px #ddd;
  padding: 20px;
  text-align: center;
}