.hide{
display:none!important;
}
/* Collection grid */
span.card-information__text.h5 {
  width: 50%;
     font-size: 1.6rem;
    letter-spacing: .1rem;
    line-height: 1.5;
}
.text-right {
  width: auto!important;
  margin: 0!important;
  float: right;
  padding: 0!important;
  text-align: right;
}
.card-information__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
span.caption-large.light {
    width: 100%;
}